<div class='container mt-4'>
    <h2 class="mb-4">{{course.name}}</h2>
    <div class='row'>
        <div class='col-lg-8'>
            <div class="ratio ratio-16x9 mb-4">
                <iframe
                    src='https://www.youtube.com/embed/{{course.videoid}}'
                    title='{{course.name}}'
                    allowfullscreen
                ></iframe>
            </div>
            <div class='mt-4'>
                <h3 class="mb-3">Mô tả khóa học</h3>
                <p class="lead" style="width: calc(height / (var(--bs-aspect-ratio) / 100));">{{course.description}}</p>
            </div>
        </div>

        <div class='col-lg-4'>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Thông tin khóa học</h5>
                    <ul class="list-group list-group-flush mb-3">
                        <li class="list-group-item"><strong>Cấp độ:</strong> {{course.level}}</li>
                        <li class="list-group-item"><strong>Thời lượng:</strong> {{course.duration}}</li>
                        <li class="list-group-item"><strong>Số bài học:</strong> {{course.lessonCount}}</li>
                    </ul>
                    <button class="btn btn-primary w-100">Đăng ký học ngay</button>
                </div>
            </div>
        </div>
    </div>
</div>


