<form name="container-form" class='mt-4' method="POST" action="/courses/handle-form-actions">
    <div>
        <h3>Khoá học</h3>
        {{!-- {{#if deletedCount}} --}}
        <a href="/me/trash/courses">Thùng rác - ({{deletedCount}})</a>
        {{!-- {{/if}} --}}
    </div>

    <div class="mt-4 d-flex align-items-center">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
            <label class="form-check-label" for="checkbox-all">
                Chọn tất cả
            </label>
        </div>
        <select class="form-select form-select-sm checkbox-select-all-options" aria-label="Default select example"
            name="action" required>
            <option value="" selected>--Hành động--</option>
            <option value="delete">Xoá</option>
        </select>

        <button class="btn btn-primary btn-sm check-all-submit-btn disabled">Áp dụng</button>
    </div>
    <table class='table mt-4'>
        <thead>
            <tr>
                <th scope='col'>#</th>
                <th scope='col'>STT</th>
                <th scope='col'>
                    Tên khoá học
                    {{{sortable 'name' _sort}}}
                </th>
                <th scope='col'>
                    Level
                    {{{sortable 'level' _sort}}}
                </th>
                <th scope='col' colspan='2'>
                    Thời gian tạo
                    {{{sortable 'createdAt' _sort}}}
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
                        </label>
                    </div>
                </td>
                <th scope='row'>{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{formatDate this.createdAt "DD/MM/YYYY HH:mm:ss"}}</td>
                <td>
                    <a href='/courses/{{this._id}}/edit' class='btn bth-click'>Sửa</a>
                    <!-- Button trigger modal -->
                    <a href='' class='btn bth-click' data-id="{{this._id}}" data-bs-toggle='modal'
                        data-bs-target='#delete-course-modal'>Xoá</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Bạn chưa đăng khoá học nào!
                    <a href="/courses/create">Đăng khoá học</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{! Confirm delete course }}
<!-- Modal -->
<div class='modal fade' id='delete-course-modal' tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h1 class='modal-title fs-5' id='exampleModalLabel'>Xoá khoá học?</h1>
                <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <div class='modal-body'>
                <p>Bạn chắc chắn muốn xoá khoá học này?</p>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Huỷ</button>
                <button id="btn-delete-course" type='button' class='btn btn-danger'>Xoá bỏ</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-course-form" method="POST">
</form>

<script>
    const exampleModal = document.getElementById('delete-course-modal')
    if (exampleModal) {
        var CourseId;
        var deleteForm = document.forms['delete-course-form']
        var btnDeleteCourse = document.getElementById('btn-delete-course')
        var checkboxAll = $('#checkbox-all')
        var courseItemCheckbox = $('input[name="courseIds[]"]')
        var checkAllSubmitBtn = $('.check-all-submit-btn')
        var containerForm = document.forms['container-form']

        // When dialog confirm clicked
        exampleModal.addEventListener('show.bs.modal', event => {
            // Button that triggered the modal
            const button = event.relatedTarget
            // Extract info from data-bs-* attributes
            CourseId = button.getAttribute('data-id')
            // If necessary, you could initiate an Ajax request here
            // and then do the updating in a callback.
            // console.log(CourseId)
        })

        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/courses/' + CourseId + '?_method=DELETE'
            deleteForm.submit()
        }
        //-------------------------------------------------------------------------------------------------------

        checkboxAll.change(function () {
            var isCheckedAll = $(this).prop('checked');
            courseItemCheckbox.prop('checked', isCheckedAll);
            renderCheckAllSumbitBtn()
        })

        // Course item checkbox change
        courseItemCheckbox.change(function () {
            var isCheckedAll = courseItemCheckbox.length === courseItemCheckbox.filter(':checked').length;
            checkboxAll.prop('checked', isCheckedAll);
            renderCheckAllSumbitBtn()
        })

        // Re-render check all submit button when checkbox changed
        function renderCheckAllSumbitBtn() {
            var checkedCount = courseItemCheckbox.filter(':checked').length;
            if (checkedCount > 0) {
                checkAllSubmitBtn.removeClass('disabled')
            }
            else {
                checkAllSubmitBtn.addClass('disabled')
            }
        }

        checkAllSubmitBtn.click(function (e) {
            e.preventDefault();

            var isSubmittable = !$(this).hasClass('disabled');
            if (isSubmittable) {
                containerForm.submit()
            }
        })

        checkAllSubmitBtn.on('submit', function (e) {
            var isSubmittable = !$(this).hasClass('disabled');
            if (!isSubmittable) {
                e.preventDefault();
            }
        })
    }

</script>