<div class='mt-4'>
    <h3>Khoá học</h3>
    <table class='table mt-4'>
        <thead>
            <tr>
                <th scope='col'>#</th>
                <th scope='col'>Tên khoá học</th>
                <th scope='col'>Level</th>
                <th scope='col' colspan='2'>Thời gian tạo</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <th scope='row'>{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>
                        <a href='/courses/{{this._id}}/edit' class='btn bth-click'>Sửa</a>
                        <!-- Button trigger modal -->
                        <a
                            href=''
                            class='btn bth-click'
                            data-id="{{this._id}}"
                            data-bs-toggle='modal'
                            data-bs-target='#delete-course-modal'
                        >Xoá</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{! Confirm delete course }}
<!-- Modal -->
<div class='modal fade' id='delete-course-modal' tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h1 class='modal-title fs-5' id='exampleModalLabel'>Xoá khoá học?</h1>
                <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <div class='modal-body'>
                <p>Bạn chắc chắn muốn xoá khoá học này?</p>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Huỷ</button>
                <button id="btn-delete-course" type='button' class='btn btn-danger'>Xoá bỏ</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-course-form" method="POST">
</form>

<script>
    const exampleModal = document.getElementById('delete-course-modal')
    if (exampleModal) {
        var CourseId;
        var deleteForm = document.forms['delete-course-form']
        var btnDeleteCourse = document.getElementById('btn-delete-course')  
        // When dialog confirm clicked
        exampleModal.addEventListener('show.bs.modal', event => {
            // Button that triggered the modal
            const button = event.relatedTarget
            // Extract info from data-bs-* attributes
            CourseId = button.getAttribute('data-id')
            // If necessary, you could initiate an Ajax request here
            // and then do the updating in a callback.
            // console.log(CourseId)
        })

        btnDeleteCourse.onclick = function(){
            alert(CourseId)
            deleteForm.action ='/courses/' + CourseId + '?_method=DELETE'
            deleteForm.submit()
        }
    }
</script>